body {
    width: 1400px;
    height: 767px;
    font-family: 'fira_sansbook', sans-serif;
    background: url(/images/background.png);
}

.wrapper {
    width: 961px;
    margin: 0 auto;
}

.clearfix {
    content: '';
    clear: both;
    display: table;
}
