body {
    width: 1400px;
    height: 767px;
    font-family: 'fira_sansbook', sans-serif;
    background: url(/images/background.png);
}

.wrapper {
    width: 962px;
    margin: 0 auto;
}

.clearfix:after {
    content: '';
    clear: both;
    display: table;
}

.main-header {
    background-color: #eff3f7;
    padding: 39px 0 38px 0;
}
