body {
    width: 1400px;
    height: 767px;
    font-family: 'fira_sansbook', sans-serif;
    background: url(/images/background.png);
    color: #4a545d;
}

.wrapper {
    width: 962px;
    margin: 0 auto;
}

.clearfix:after {
    content: '';
    clear: both;
    display: table;
}

.main-header {
    background-color: #eff3f7;
    padding: 39px 0 27px 0;
}

.logo {
    float: left;
}

.social {
    width: 261px;
    float: right;
}

.social-btn {
    float: left;
    width: 47px;
    height: 47px;
    margin-right: 24px;
    margin-top: -4px;
    background: url(/images/social.png);
}

.social-btn:last-child {
    margin-right: 0;
}

.social-btn:hover {
    background: url(/images/social-hv.png);
}

.tw {
    background-position: -71px;
}

.tw:hover {
    background-position: -71px;
}

.fb {
    background-position: -142px;
}

.fb:hover {
    background-position: -142px;
}

.gh {
    background-position: -213px;
}

.gh:hover {
    background-position: -213px;
}

main {
    padding-top: 39px;
    padding-bottom: 8px;
    border-width: 3px;
    -webkit-border-image: -webkit-linear-gradient(left, #f1f6fa, #1c667a, #f1f6fa) 100% 0 100% 0;
    -o-border-image: linear-gradient(left, #fff, #1c667a, #fff) 100% 0 100% 0;
    border-image: linear-gradient(left, #fff, #1c667a, #fff) 100% 0 100% 0;
}

.main-nav {
    float: left;
    width: 251px;
}

.main-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #eff3f7;
    border-radius: 4px;
}

.main-nav ul a {
    display: block;
    padding: 21px 27px 16px 28px;
    color: #959aa8;
    font-size: 21px;
    text-decoration: none;
    border-bottom: 2px solid #3ba8c0;
}

.main-nav li:first-child a {
    border-bottom: none;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.main-nav li:last-child a {
    border-bottom: none;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    padding-bottom: 20px;
}

.main-nav .active-page {
    background-color: #3ba8c0;
    color: #fff;
    font-size: 23px;
    padding-bottom: 17px;
}

.main-nav ul li a:hover:not(.active-page) {
    color: #3ba8c0;
}

section {
    float: right;
}

article {
    border-radius: 4px;
    background-color: #eff3f7;
    margin-bottom: 26px;
    font-size: 17px;
    padding-bottom: 24px;
    padding-right: 51px;
}

h1.section-title {
    font-size: 27px;
    margin: 0 0 21px 0;
    color: #3ba8c0;
    font-weight: 300;
    padding: 13px 23px 12px 21px;
    border-bottom: 2px solid #3ba8c0;
    display: inline-block;
}

article .description {
    margin-bottom: 14px;
    margin-left: 24px;
    padding-left: 100px;
    position: relative;
}

article .description-title {
    margin-top: -1px;
    margin-bottom: -4px;
}

article .interval {
    font-family: 'fira_sanslight', sans-serif;
    font-size: 15px;
}

article .icon {
    background: url(/images/icons.png) no-repeat;
    width: 41px;
    height: 41px;
    position: absolute;
    left: 31px;
}

article .icon-bag {
    background-position: 0px 6px;
}

article .icon-hat {
    background-position: 0px -66px;
    top: 3px;
}

article .icon-page {
    background-position: 0px -126px;
    top: 3px;
}

footer {
    text-align: center;
    padding: 28px;
    background-color: #eff3f7;
    position: relative;
}

.copy {
    font-size: 13px;
    font-family: 'fira_sanslight', sans-serif;
    padding-left: 9px;
}

.login {
    position: absolute;
    background: url(/images/icons.png) no-repeat;
    width: 21px;
    height: 32px;
    background-position: bottom;
    top: 23px;
    left: 254px;
}
