<!DOCTYPE html>
html(lang="ru")
head
    meta(charset="UTF-8")
    title LoftShcool
    link(rel="stylesheet" href="css/normalize.css")
    link(rel="stylesheet" href="css/style.css")
    link(rel="stylesheet" href="fonts/fira/fira.css")
    script(src="js/html5shiv.js")
body
    header.main-header
        .wrapper.clearfix
            .logo
                img(src="images/logo.png" alt="logo")
            .social.clearfix
                a(href="https://vk.com/id317194985" class="social-btn vk")
                a(href="https://twitter.com" class="social-btn tw")
                a(href="https://www.facebook.com" class="social-btn fb")
                a(href="https://github.com" class="social-btn gh")
    main
        .wrapper.clearfix
            nav.main-nav
                ul
                    li
                        a(class="active-page" href="index.html") Обо мне
                    li
                        a(href="works.html") Мои работы
                    li
                        a(href="touch.html") Связаться со мной
            section
                article
                    header
                        h1.section-title Опыт работы
                        .description
                            .icon.icon-bag
                            .description-title "ИП Боровицкий" - Продавец дисков
                            .interval Сентябрь 2005 - Август 2008
                        .description
                            .icon.icon-bag
                            .description-title "ООО Системы безопастности" - Системный администратор
                            .interval Июнь 2008 - Июль 2010
                article
                    header
                        h1.section-title Образование
                        .description
                            .icon.icon-hat
                            .description-title Незаконченное высшее. СПБГУ ИТМО
                            .interval Октябрь 2012 - по настоящее время
                        .description
                            .icon.icon-page
                            .description-title Курсы Loftschool.ru
                            .interval Ноябрь 2014 - по настоящее время

    footer
        .wrapper
            .login
            .copy &copy; 2015. Это мой сайт, пожалуйста, не копируйте и не воруйте его


