<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    title LoftShcool
    link(rel="stylesheet" href="css/normalize.css")
    link(rel="stylesheet" href="css/style.css")
    link(rel="stylesheet" href="fonts/fira/fira.css")
body
    header.main-header
        .wrapper.clearfix
            .logo
                img(src="img/logo.png" alt="logo")
            .social.clearfix
                a(href="https://vk.com/id317194985" class="social-btn vk")
                a(href="https://twitter.com" class="social-btn tw")
                a(href="https://www.facebook.com" class="social-btn fb")
                a(href="https://github.com" class="social-btn gh")
    main
        .wrapper.clearfix
            nav.main-nav
                ul
                    li
                        a(href="index.html" class="active-link") Обо мне
                    li
                        a(href="works.html") Мои работы
                    li
                        a(href="touch.html") Связаться со мной
            section
                article
                    header
                        h1.title"Опыт работы
                        p.icon-bag "ИП Боровицкий" - Продавец дисков
                            br
                            small Сентябрь 2005 - Август 2008

                        p.icon-bag "ООО Системы безопастности" - Системный администратор
                            br
                            small Июнь 2008 - Июль 2010


                article
                    header
                        h1.title Образование
                        p.icon-hat Незаконченное высшее. СПБГУ ИТМО
                            br
                            small Октябрь 2012 - по настоящее время

                        p.icon-page Курсы Loftschool.ru
                            br
                            small Ноябрь 2014 - по настоящее время

    footer
        .wrapper
            small &copy; 2015. Это мой сайт, пожалуйста, не копируйте и не воруйте его


